html,body {
    box-sizing: border-box;
    font-family:monospace;
    font-size: larger;
}
#logo{
    font-size: larger;
    color:black;
}
#footer{
    width:100%;
   text-align: center;
   position: fixed;
    bottom:1px;
    color:black;
}
